<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<!-- File logging -->
		<target xsi:type="File"

					name="file"

					fileName="${basedir}/logs/_${shortdate}.log"

					layout="${longdate}|${level}|${message}|${exception}" />

		<!-- Windows Event Viewer -->
		<target xsi:type="EventLog"

					name="eventlog"

					source="Test_SirmEdmImageProcessingService"

					log="Application"

					layout="${message} ${exception}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file,eventlog" />
	</rules>

</nlog>