<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Maxum.EDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Maxum.EDM.Properties.Settings.doclink2ConnectionString" connectionString="Data Source=ABCD;Initial Catalog=doclink2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Maxum.EDM.Properties.Settings.CommonConnectionString" connectionString="Data Source=ABCD;Initial Catalog=common;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

	<applicationSettings>
    <Maxum.EDM.Properties.Settings>
      <setting name="MaxUnknownFiles" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DL_User" serializeAs="String">
        <value>****</value>
      </setting>
      <setting name="DL_PW" serializeAs="String">
		  <value>****</value>
      </setting>
      <setting name="DL_DatabaseName" serializeAs="String">
        <value>****</value>
      </setting>
      <setting name="DefalutUnknownFolder" serializeAs="String">
        <value>C:\Users\Tushar Tompe\Desktop\Document Routing\SirmEdmImageProcessing\TestEnv\unknown</value>
      </setting>
      <setting name="QueueFolder" serializeAs="String">
        <value>C:\Users\Tushar Tompe\Desktop\Document Routing\SirmEdmImageProcessing\TestEnv\source</value>
      </setting>
      <setting name="ValidationDirectory" serializeAs="String">
        <value>C:\Users\Tushar Tompe\Desktop\Document Routing\SirmEdmImageProcessing\TestEnv\validation</value>
      </setting>
      <setting name="TimerIntervalInMinutes" serializeAs="String">
        <value>.25</value>
      </setting>      
    </Maxum.EDM.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
