<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Maxum.EDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Maxum.EDM.Properties.Settings.doclink2ConnectionString" connectionString="Data Source=okc-docld;Initial Catalog=doclink2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Maxum.EDM.Properties.Settings.CommonConnectionString" connectionString="Data Source=okc-docld;Initial Catalog=common;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <Maxum.EDM.Properties.Settings>
      <setting name="MaxUnknownFiles" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DL_User" serializeAs="String">
        <value>AutomationAdmin</value>
      </setting>
      <setting name="DL_PW" serializeAs="String">
        <value>1spiautoadmin</value>
      </setting>
      <setting name="DL_DatabaseName" serializeAs="String">
        <value>Doclink27</value>
      </setting>
      <setting name="DefalutUnknownFolder" serializeAs="String">
        <value>C:\Users\Tushar Tompe\Desktop\Document Routing\SirmEdmImageProcessing\TestEnv\unknown</value>
      </setting>
      <setting name="QueueFolder" serializeAs="String">
        <value>C:\Users\Tushar Tompe\Desktop\Document Routing\SirmEdmImageProcessing\TestEnv\source</value>
      </setting>
      <setting name="ValidationDirectory" serializeAs="String">
        <value>C:\Users\Tushar Tompe\Desktop\Document Routing\SirmEdmImageProcessing\TestEnv\validation</value>
      </setting>
      <setting name="TimerIntervalInMinutes" serializeAs="String">
        <value>.25</value>
      </setting>      
    </Maxum.EDM.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
